*{
    box-sizing: border-box;
}
body{
	font-family: Arial; 
	background: url("A.png");
	background-size: cover;
}
.lg{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height:230px;
	width: 420px;
	position: absolute; 
	box-sizing: border-box;
}
.lgi{
	margin:2px; 
	position: relative;
	background: transparent;	
	background: beige;
	border: 1px solid black;
	font-size: 16px;
	opacity: 0.8;
	line-height: 40px;
	width: 350px;
	border-radius:10px; 
}
.lgn{
	margin:2px; 
	position: relative;
	box-sizing: border-box;
	border:none;
	outline: none;
	background: transparent;	
	background: green;
	border: 1px solid black;
	color: white;
	font-size: 17px;
	margin-top: 5px;
	line-height: 40px;
	height: 40px;
	width: 350px;
	border-radius:10px; 
}
.lgi::placeholder{
	color: black;
	font-weight: bolder;
}
ul.lgul{
	margin-top: 40px;
	list-style-type: none;
	line-height: 30px;
}
.lg .lga{
	top: 50%;
	left:10%;
	position: relative;
	transform: translate(-50%,-50%);
	font-weight: bold;
	color:black;
}
.lg .lga1{
	top: 50%;
	left:46%;
	position: relative;
	transform: translate(-50%,-50%);
	font-weight: bold;
	color:black;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.nav{
	background:black;
}
.navi{
	line-height: 52px;
	height: 52px;
}
.navul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.navul .navli{
	float: left;
	width: 350px; height: 53px;
	background-color:black;
	line-height: 53px;
	text-align: center;
	font-size: 20px;
	margin: right:4px;	
}
.navul .navli .nava{
	text-decoration: none;
	color:white;
	display: block;
}
.navul .navli .nava:hover{
	background-color:#A9A9A9;
	color: black;
}
.navul .navli .navul .navli{
	border: none;
	display: none;
}
.navul .navli:hover .navul .navli{
	display: block;
}
.navul .navli .navul .navli .navi{
	display: none;
}
.navul .navli:hover .navul .navli .navi{
	display: block;	
}
.navul .navsrch{
	line-height: 52px;
	height: 52px;
}
.navb{
	line-height: 52px;
	height: 52px;	
}
.navsrch::placeholder{
	color:black;
}
.fm{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url("1.jpg");
	background-size: cover;
	opacity: 0.7;
	height:560px;
	width: 410px;
	opacity: 0.8;
	position: absolute; 
	box-sizing: border-box;
	border-radius:20px;
	border: 1px solid beige;
	padding: 1px;
	box-shadow: 1px 1px 1.5px 1.5px black; 
}
::placeholder{
	color: black;
	
	font-size: 16px;
}
img{
	top:25;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute; 
	background: transparent;
	box-sizing: border-box;
	border-radius:35px;
	border: 0.8px solid black; 	
}
ul.fmul1{
	margin-top: 40px;
	list-style-type: none;
	line-height: 30px;
}
.fmi{
	position: relative;
	font-size: 16px;
	color:black;
	line-height: 20px;
	height: 25px;
	width: 350px;
	border:none;
	outline: none;
	border-bottom: 1px solid black;
	background: transparent;
}
.fms{
	font-weight: bold;
	border: 1px solid black;
	line-height: 25px;
	height: 25px;
	width: 350px;	
}
.fm label{
	color:blue;
	font-size: 16px;
}
.sub{
	border:none;
	outline: none;
	background:green;
	font-size: 14px;
	color:white;
	margin: 10px;
	margin-left:11%; 
	line-height: 25px;
	height: 25px;	
	width: 250px;		
}
.tabb{
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    background-color:white;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px black;
}
.tabb:hover 
{
    background-color:gray;
}
.tabb:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.tabt{
    color: black;
}
